# Dependencies
node_modules/
.pnp
.pnp.js
/ios/Pods/
/vendor/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
build/
dist/
/android/app/build/
/ios/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE specific
.idea/
.vscode/
*.code-workspace
*.sublime-workspace
*.sublime-project

# Mobile development
# iOS
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/

# Android
.gradle/
local.properties
*.iml
.idea/
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.hprof

# System files
.DS_Store
Thumbs.db